header {
  width: 100%;
  background: #f9f9f9;
  position: fixed;

  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;
}
.fa-mug-saucer {
  padding: 7px;
}
.logo {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}
.fa-terminal {
  padding: 7px;
}
