#news-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: 100px 0 150px 0;
}

.news {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.338);
  text-align: justify;
  gap: 24px;

  padding: 52px 0;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.description {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.author {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  padding: 8px;
  border-radius: 8px;
  opacity: 0.8;
}
