#reading-progress {
  display: flex;
  align-items: center;
  gap: 25px;

  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: #000;

  padding: 8px 38px;
  border-radius: 32px;
}

progress {
  background-color: #000;
  height: 3px;
  border-radius: 999px;
}

/* Estilos para a barra de progresso */
::-webkit-progress-value {
  background-color: #000;
}
::-moz-progress-bar {
  background-color: #000;
}

.progress-percent {
  font-weight: 700;
}
